@{
    ViewBag.Title = "Curso de capacitación";
}

<div class="row-fluid metro">
    <div class="span4">
        <a class="tile wide imagetext bg-color-green middle" href="@Url.Action("Index","Manager")">
            <div class="image-wrapper">
                <span class="icon icon-user-3"/>
            </div>
            <div class="column-text">
                <div class="text-header3">Managers</div>
            </div>
        </a>
    </div>
    <div class="span4">
        <a class="tile wide imagetext bg-color-orange first" href="@Url.Action("Index","Realty")">
            <div class="image-wrapper">
                <span class="icon icon-home"/>
            </div>
            <div class="column-text">
                <div class="text-header3">Inmobiliaria</div>
            </div>
        </a>
    </div>
    <div class="span4">
        <a class="tile wide imagetext bg-color-red first" href="@Url.Action("Index","Inmueble")">
            <div class="image-wrapper">
                <span class="icon icon-flag"/>
            </div>
            <div class="column-text">
                <div class="text-header3">Inmueble</div>
            </div>
        </a>
    </div>
    <div class="span4">
        <a class="tile wide imagetext bg-color-blue last" href="@Url.Action("Index","Interested")">
            <div class="image-wrapper">
                <span class="icon icon-user-2"/>
            </div>
            <div class="column-text">
                <div class="text-header3">Interesados</div>
            </div>
        </a>
    </div>
</div>